@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Antic+Didone&family=Source+Serif+4:opsz,wght@8..60,300;8..60,400;8..60,500;8..60,600;8..60,700&display=swap');

body {
    background-color: #FFF8E6;
}

.m-100 {
    margin: 70px 0;
}

::selection {
    background-color: #FFE145;
    color: #000;
}

/* ===================== header ====================== */
.header {
    border-bottom: 2px solid #000;
}

header {
    background-color: #FFF8E6;
}

.logo {
    font-family: 'Antic Didone';
    font-weight: 500;
}

.sarif {
    font-family: 'Source Serif 4';
}

.qu-font {
    font-family: 'Abril Fatface'
}

.button {
    font-family: 'Source Serif 4';
    font-size: 16px;
    background-color: transparent;
    border: 1px solid #000;
    padding: 7px 15px;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    -ms-border-radius: 200px;
    -o-border-radius: 200px;
    font-weight: 500;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.button:hover {
    background-color: #000;
    color: #fff;
}

.question-main {
    border-bottom: 1px solid #000;
}

.read {
    height: 40px;
    width: 50px;
    cursor: pointer;
    
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.read:hover {
    transform: translate(10px, -10px);
    -webkit-transform: translate(10px, -10px);
    -moz-transform: translate(10px, -10px);
    -ms-transform: translate(10px, -10px);
    -o-transform: translate(10px, -10px);
}

.dark-btn {
    background-color: #000;
    color: #fff;
}

.ans-container {
    padding: 20px;
    border: 0.5px solid #9E9E9E;
    position: relative;
}

.ans-img {
    height: 200px;
    width: 200px;
}

.ans-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.date {
    font-weight: 300;
}

.readmore {
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.share {
    cursor: pointer;
}

.number {
    color: #D8CCAD;
    width: 100px;
}

.t-container {
    border-right: 1px solid #000;
    padding: 20px;
}

.t-name {
    border-bottom: 1px solid #000;
    padding-bottom: 15px;
}

.t-image {
    height: 200px;
    width: 330px;
    margin: 15px 0 15px 15px;
}

.t-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.t-details {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.t-desc {
    width: 330px;
}

.t-title {
    margin-right: 10px;
    color: #000;
    padding: 1px 15px;
    font-size: 14px;
    border-radius: 100px;
    text-transform: uppercase;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.purple {
    background-color: #8A60BF;
    color: #fff;
}

.t-details li {
    margin: 8px 0;
}

.yellow {
    background-color: #F8E74F;
}

.pink {
    background-color: #EE80E3;
}

.cyan {
    background-color: #A3F2F6;
}

.gray {
    background-color: #D8CCAD;
}

.green {
    background-color: #88BA7E;
}

.language-btn {
    border: 1px solid #000;
    text-transform: uppercase;
    font-size: 14px;
    padding: 1px 10px;
    border-radius: 200px;
}
.devider {
    height: 1px;
    width: 330px;
    background-color: #000;
    margin: 10px 0;
}
.t-question-list {
    list-style: none;
    padding: 0;
}
.t-question-number {
    color: #D8CCAD;
}
.t-question {
    border-bottom: 1px solid #000;
}

.question-background {
    background: linear-gradient(to right,#ffd54d 20%,#FFF8E6 50%);
}
.read-img {
    cursor: pointer;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.read-img:hover {
    bottom: 10px;
}


.answer-with-likes {
    display: flex;
    flex-direction: row;
}